<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Correcion </title>
        <style>
            .input-group {
                margin-bottom: 10px;
            }
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 10px;
            }
            input[type="text"] {
                width: 100px;
            }
        </style>

    </head>
    <body>
        <h1>Correcion de la tarea {{task.title}}</h1>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Criterios\Niveles de Desemepeño</th>
                        
                        {% for ni in niveles %}
                            {%if ni.nivel%}
                                <th>{{ ni.nivel }}</th>
                            {%endif%}
                            {%if ni.descripcion_nivel%}
                                <th>{{ ni.descripcion_nivel }}</th>
                            {%endif%}
                        {% endfor %}
                        
                    </tr>
                </thead>
                <tbody>
                    {% for c in descriptores %}
                    <tr>
                        <td>{{ c.criterio }}</td>
                        {% for d in c.descriptores %}
                        <td>
                            {{d}}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <h3>Listado de alumnos</h3>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Pareja</th>
                </tr>
            </thead>
            <tbody>
                {% for alumno in alumnos %}
                <tr>
                    <td>{{ alumno.nombre }}</td>
                    <td>{{ alumno.apellido }}</td>
                    <!--<td>{{ alumno.email }}</td>-->
                    <td><a href="{% url 'correccion_personal' alumno.id_alumno %}" target="_blank"> {{ alumno.email }}</a></td>
                    <td>{{ alumno.pareja }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </body>
</html>