{% load static %}
<html lang="es">
<head>
    <title>Corrección de la pareja {{alumno.pareja}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>
    <div id="correccionpersonal">
    <div class="breadcrumb-container mt-3 px-3">
        <h1>Corrección de la pareja {{alumno.pareja}}</h1>
        <nav aria-label="breadcrumb" >
            <div class="bg-light p-3 border">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">Inicio</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'project_detail' task.grupo.project.id_project task.grupo.id_grupo %}">
                            Grupo {{ task.grupo.numero_grupo }}
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'task_detail' task.id_task %}">
                            Tarea: {{ task.title }}
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'correcion' task.id_task %}">
                            Corrección Tarea
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Pareja {{ alumno.pareja }}
                    </li>
                </ol>
            </div>
        </nav>
    </div>
    <div class="mt-3 px-3">
        <h2>Alumnos de la pareja {{alumno.pareja}}</h2>
        <ul>
            <li>{{ alumno.nombre }} {{ alumno.apellidos }} - {{ alumno.email }}</li>
            {% if pareja %}
                <li>{{ pareja.nombre }} {{ pareja.apellidos }} - {{ pareja.email }}</li>
            {% else %}
                <li>No hay pareja asignada.</li>
            {% endif %}
        </ul>
    </div>

    <div class="main-container px-3">
        <!--Panel izquiero para correcion y futuro feedback, habrá que ajustar los botones y eso-->
    
        <div class="left-Panel" style="overflow: auto; max-height: 400px; max-width: 100%;">
            {% if not correccion_guardada and not correccion_pareja %}
            <form method="POST" action="">
                {% csrf_token %}
                <h3>Corrección:</h3>
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Criterio</th>
                            <th>Nivel de Desempeño</th>
                            <th>Feedback</th>
                            {% if calificacion %}<th>Nota</th>{% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in criterios %}
                        <tr>
                            <td>{{ c.descripcion_criterio }}</td>
                            <td>
                                <div class="dropdown">
                                    <button 
                                        class="btn btn-secondary dropdown-toggle w-100 text-wrap text-start" 
                                        type="button" 
                                        data-bs-toggle="dropdown" 
                                        aria-expanded="false" 
                                        id="dropdownBtn_{{ c.id_criterio }}">
                                        Selecciona un nivel
                                    </button>
                                    <ul class="dropdown-menu w-100 overflow-auto">
                                        {% for n in niveles %}
                                        <li>
                                            <a class="dropdown-item" href="#" 
                                            onclick="selectNivel('{{ c.id_criterio }}', '{{ n.id_nivel_desempeno }}', '{{ n.descripcion_nivel }}')">
                                                {{ n.descripcion_nivel }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <input type="hidden" name="nivel_{{ c.id_criterio }}" id="nivel_{{ c.id_criterio }}">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <textarea 
                                        name="feedback_{{ c.id_criterio }}" 
                                        class="form-control" 
                                        id="feedback_text_{{ c.id_criterio }}" 
                                        disabled></textarea>
                                    <button 
                                        type="button" 
                                        class="btn btn-secondary" 
                                        id="feedback_btn_{{ c.id_criterio }}" 
                                        onclick="openFeedbackModal('{{ c.id_criterio }}', $('#nivel_{{ c.id_criterio }}').val())" 
                                        disabled>
                                        🔍
                                    </button>
                                </div>
                            </td>
                            
                            {% if calificacion %}
                            <td>
                                <input type="number" name="nota_{{ c.id_criterio }}" class="form-control" placeholder="Nota">
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="submit" name="fin_corregir" class="btn btn-secondary">Guardar corrección</button>
            </form>
            {% endif %}
            

            {% if correccion_guardada or correccion_pareja %}
            <h3>Corrección Guardada:</h3>
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Criterio</th>
                        <th>Nivel</th>
                        <th>Feedback</th>
                        {% if calificacion %}<th>Nota</th>{% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for c, f in calificaciones_feedback %}
                    <tr>
                        <td>{{ c.criterio.descripcion_criterio }}</td>
                        <td>{{ c.nivel_desempeno.descripcion_nivel }}</td>
                        <td>
                            <textarea class="form-control" readonly>{{ f.feedback }}</textarea>
                        </td>
                        {% if calificacion %}
                        <td>{{ c.nota }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if calificacion %}
            <p><strong>Nota Media:</strong> {{ nota_media }}</p>
            {% endif %}
            {% endif %}
            
        </div>



        <!--Panel derecho para mostrar la tabla de la rubrica-->
        <div class="right-Panel" style="overflow: auto; max-height: 400px; max-width: 100%;">
            <div class="tables-space mt-3 px-3">
                <div class="table-container">
                    <h3 class="table-title">Rúbrica existente:</h3>
                    <table class="table table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th>Criterios\Niveles de Desempeño</th>
                                {% for ni in niveles %}
                                    {% if ni.nivel %}
                                        <th>{{ ni.nivel }}</th>
                                    {% endif %}
                                    {% if ni.descripcion_nivel %}
                                        <th>{{ ni.descripcion_nivel }}</th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in descriptores %}
                            <tr>
                                <td>{{ c.criterio }}</td>
                                {% for d in c.descriptores %}
                                <td>
                                    {{ d.descripcion }}
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    

    
    

    
    <div  class="fixez-bottom mt-3 px-3">
        <!--<a  href="{% url 'correcion' task.id_task %}" >Volver a la tarea</a>-->
    
        <form action="{% url 'export_correction_pdf' alumno.id_alumno task.id_task%}" method="get" style="display:inline;">
            <button type="submit" class="btn btn-primary">Exportar corrección a PDF</button>
        </form>
        <!--<form action="{% url 'export_feedback' alumno.id_alumno task.id_task %}" method="get">
            <button type="submit" class="btn btn-primary">Exportar feedback</button>
        </form>-->
        
    </div>

    <div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="feedbackModalLabel">Seleccionar Feedback</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul id="feedbackList" class="list-group">
                        <!-- Feedbacks-->
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <script>
        function selectNivel(criterioId, nivelId, descripcionNivel) {
            const dropdownBtn = document.getElementById(`dropdownBtn_${criterioId}`);
            dropdownBtn.textContent = descripcionNivel;
            const nivelInput = document.getElementById(`nivel_${criterioId}`);
            nivelInput.value = nivelId;

            const feedbackTextarea = document.getElementById(`feedback_text_${criterioId}`);
            const feedbackBtn = document.getElementById(`feedback_btn_${criterioId}`);
            if (nivelId) {
                feedbackTextarea.disabled = false;
                feedbackBtn.disabled = false;
            } else {
                feedbackTextarea.disabled = true;
                feedbackBtn.disabled = true;
            }
            console.log(`Nivel seleccionado: ${nivelId}`);
            console.log(`Descripcion: ${descripcionNivel}`);
        }

        function openFeedbackModal(criterioId, nivelId) {
            if (!nivelId) {
                alert("Por favor selecciona un nivel de desempeño primero.");
                return;
            }

            const feedbackList = $("#feedbackList");
            feedbackList.empty();

            const grupoId = {{ alumno.grupo.id_grupo }};
            console.log(grupoId);
            $.ajax({
                url: `/obtener-feedbacks/${grupoId}/${criterioId}/${nivelId}/`,
                method: 'GET',
                success: function(data) {
                    if (data.length === 0) {
                        feedbackList.append('<li class="list-group-item">No hay feedbacks disponibles.</li>');
                    } else {
                        data.forEach(feedback => {
                            console.log(feedback);
                            feedbackList.append(`<li class="list-group-item" onclick="selectFeedback('${criterioId}', '${feedback}')">${feedback}</li>`);
                        });
                    }
                    $('#feedbackModal').modal('show');
                },
                error: function() {
                    feedbackList.append('<li class="list-group-item">Error al cargar feedbacks.</li>');
                }
            });
        }
        function selectFeedback(criterioId, feedback) {
            const feedbackTextarea = document.getElementById(`feedback_text_${criterioId}`);
            if (feedbackTextarea) {
                feedbackTextarea.value = feedback;
            }
            $('#feedbackModal').modal('hide');
        }
    </script>
        
    </div>
</body>
</html>
