<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ project.title }} - Grupo {{ grupo.numero_grupo }}</title>
</head>

<body>
    <div class="container mt-5">
        <h1>{{ project.title }} - Grupo {{ grupo.numero_grupo }}</h1>
        <p>{{ project.description }}</p>
    </div>

    <div>
        <h2>Agregue los integrantes mediante un archivo .csv:</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="archivo">Adjunte archivo .csv</label><br>
            <input type="file" name="archivo" id="archivo" accept=".csv" required><br><br>
            <button type="submit" name="upload_csv">Cargar Alumnos desde CSV</button>
        </form>

        <h3>Agrega a los estudiantes manualmente</h3>
        <form method="POST">
            {% csrf_token %}
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" required><br><br>
            
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" id="apellido" required><br><br>

            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required><br><br>

            <label for="pareja">Pareja:</label>
            <input type="number" name="pareja" id="pareja" required><br><br>

            <button type="submit" name="create_alumno">Agregar Alumno</button>
        </form>

        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <h3>Lista de alumnos en el grupo {{ grupo.numero_grupo }}</h3>
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Pareja</th>
                </tr>
            </thead>
            <tbody>
                {% for alumno in alumnos %}
                <tr>
                    <td>{{ alumno.nombre }}</td>
                    <td>{{ alumno.apellido }}</td>
                    <td>{{ alumno.email }}</td>
                    <td>{{ alumno.pareja }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
