<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rúbrica de {{ task.title }}</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Rúbrica para la tarea: {{ task.title }}</h1>
    
    <table>
        <thead>
            <tr>
                <th>Criterios\Niveles de Desemepeño</th>
                {% for n in niveles %}
                    <th>{{ n.nivel }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for c in descriptores_list %}
            <tr>
                <td>{{ c.criterio }}</td>
                {% for d in c.descriptores %}
                <td>
                    {{d}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'task_detail' task.id_task %}">Volver a la tarea</a>
</body>
</html>
