<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ task.title }}</title>
    <style>
        .input-group {
            margin-bottom: 10px;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;
        }
        input[type="text"] {
            width: 100px;
        }
    </style>
</head>
<body>
    <h1>{{ task.title }}</h1>

    <h2>Procede a crear la rúbrica para esta tarea: </h2>
    <form method="POST">
        {% csrf_token %}
        <h3>Establece los criterios: </h3>
        <label for="criterio">Criterio:</label>
        <input type="text" name="criterio" id="criterio" placeholder="Criterio" required>
        <button type="submit" name="create_criterio">Añadir Criterio</button>
    </form>
    
    <form method="POST">
        {% csrf_token %}
        <h3>Establece los niveles de desempeño: </h3>
        <label for="nivel">Nivel de Desempeño:</label>
        <input type="text" name="nivel" id="nivel" placeholder="Nivel" required>
        <button type="submit" name="create_nivel">Añadir Nivel de Desempeño</button>
    </form>
    
    <form method="POST">
        {% csrf_token %}
        <h3>Rúbrica:</h3>
        <table>
            <thead>
                <tr>
                    <th>Criterios</th>
                    
                    {% for n in nivel %}
                        <th>{{ n.nivel }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                
                {% for c in criterio %}
                <tr>
                    <td>{{ c.descripcion_criterio }}</td>
                    
                    {% for n in nivel %}
                        <td>
                            <input type="text" name="descriptor_{{ c.id_criterio }}_{{ n.id_nivel_desempeno }}" placeholder="Añadir descriptor">
                        </td> 
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" name="save_rubrica">Guardar Rúbrica</button>
    </form>
    <a href="{% url 'rubric_detail' rubrica.id_rubrica %}">Ver rúbrica de la tarea</a>

    <h3>Rúbricas de la tarea:</h3>
    <ul>
        {% if rubricas %}    
            {% for r in rubricas %}
                <li>
                    <a href="{% url 'rubric_detail' rubrica.id_rubrica %}">{{}}</a>
                </li>
            {% endfor %}
        {% else%}
            <li>No hay rúbricas para esta tarea</li>
        {% endif %}
    </ul>

</body>
</html>