<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ task.title }}</title>
    <style>
        .input-group {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>{{ task.title }}</h1>

    <h2>Procede a crear la rúbrica para esta tarea: </h2>
    <form method="POST">
        {% csrf_token %}
        <h3>Establece los criterios: </h3>
        <label for="criterio">Criterio:</label>
        <input type="text" name="criterio" id="criterio" placeholder="Criterio" required>
        <button type="submit" name="create_criterio">Añadir Criterio</button>
    </form>
    <ul>
        {% for c in criterio %}
            <li>{{ c.descripcion_criterio }}</li>
        {% endfor %}
    </ul>
    <form method="POST">
        {% csrf_token %}
        <h3>Establece los niveles de desempeño: </h3>
        <label for="nivel">Nivel de Desempeño:</label>
        <input type="text" name="nivel" id="nivel" placeholder="Nivel" required>
        <button type="submit" name="create_nivel">Añadir Nivel de Desempeño</button>
    </form>
    <ul>
        {% for n in nivel %}
            <li>{{ n.nivel }}</li>
        {% endfor %}
    </ul>
    
</body>
</html>