<!DOCTYPE html>
<html>
<head>
    <title>Rúbrica de {{ task.title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .input-group {
            margin-bottom: 10px;
        }
        .tablex{
            margin-top:30px;
            margin-left: 20px;
            margin-right: 70%;

        }
        table{
            border: 1px solid black !important;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;
            margin-top:30px;
            margin-left: 5%;
            margin-right: 5%;
        }
        input[type="text"] {
            width: 100px;
        }
        .container {
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <div class="mt-3 px-3">
        <h1>Creación de la Rúbrica para la tarea: {{task.title}}</h1>
        <p>{{ task.description }}</p>
    </div>
    <nav aria-label="breadcrumb" class="mt-4 px-3 w-100">
        <div class="bg-light p-3 border">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'project_detail' task.grupo.project.id_project task.grupo.id_grupo %}">
                        Grupo {{ task.grupo.numero_grupo }}
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'task_detail' task.id_task %}">
                        Tarea: {{ task.title }}
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Crear Rúbrica</li>
            </ol>
        </div>
    </nav>
    
    <!--div de los botones mediante modales-->
    <div class="container mt-4">
        

        
        <!--<a href="javascript:history.back()" class="btn btn-secondary mb-3">Atrás</a>-->
    

        <!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#criterioModal">
            Crea la rúbrica
        </button>-->
        <div class="mb-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#criterioModal">
                Añade criterio
            </button>

            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#nivelModal">
                Añade niveles de desempeño
            </button>

            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#calificacionModal">
                Añade calificación
            </button>
        </div>
    </div>

    <div class="tablex mt-4">
            <form method="POST" class="mt-4">
                {% csrf_token %}
                <h3>Rúbrica:</h3>
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Criterios\Niveles de Desempeño</th>
                            {% for n in nivel %}
                                {% if n.nivel %}
                                    <th>{{ n.nivel }}</th>
                                {% endif %}
                                {% if n.descripcion_nivel %}
                                    <th>{{ n.descripcion_nivel }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in criterio %}
                            <tr>
                                <td>{{ c.descripcion_criterio }}</td>
                                {% for n in nivel %}
                                    <td>
                                        <textarea name="descriptor_{{ c.id_criterio }}_{{ n.id_nivel_desempeno }}" placeholder="Añadir descriptor"></textarea>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="submit" name="save_rubrica" class="btn btn-primary mt-3">Guardar rúbrica</button>
            </form>
        <!--<a href="{% url 'rubric_detail' rubrica.id_rubrica %}" class="btn btn-secondary">Ver rúbrica de la tarea</a>-->
        
    
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toastContainer" style="z-index: 1055;">
        <div class="toast align-items-center text-bg-success border-0" id="successToast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    {{ toast_message|default:"¡Añadido correctamente!" }}
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="criterioModal" tabindex="-1" aria-labelledby="criterioModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="criterioModalLabel">Establece los criterios</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <!--<h3>Establece los criterios: </h3>-->
                        <label for="criterio">Criterio:</label>
                        <input name="criterio" id="criterio" placeholder="Criterio"> <!--required-->
                        
                    </div>
                    <div class="modal-footer d-flex justify-content-between align-items-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success mt-3" name="create_criterio" id="addButton">Añadir</button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="calificacionModal" tabindex="-1" aria-labelledby="calificacionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="calificacionModalLabel">Configurar Calificación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="calcular_media" id="calcularMedia" value="True" {% if rubrica.checked %}checked{% endif %}>
                            <label class="form-check-label" for="calcularMedia">
                                ¿Desea calcular la calificación promedio automáticamente?
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-between" >
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-warning">Añadir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="nivelModal" tabindex="-1" aria-labelledby="nivelModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="nivelModalLabel">Establece los niveles de desempeño</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <!--<h3>Establece los niveles de desempeño: </h3>-->
                        
                        <label for="nivel">Nivel de Desempeño (Numérico):</label>
                        <input type="text" name="nivel" id="nivel" placeholder="Nivel numércio">
                    
                        <label for="descripcion_nivel">Nivel de Desempeño (descriptor):</label>
                        <input type="textarea" name="descripcion_nivel" id="descripcion_nivel" placeholder="Nivel descriptivo">
                        <!--<button type="submit" name="create_nivel" id="adButton">Añadir Nivel de Desempeño</button>-->
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success mt-3">Añadir</button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function showSuccessToast() {
            const toastElement = document.getElementById('successToast');
            const toast = new bootstrap.Toast(toastElement);
            toast.show();
        }
        {% if show_toast %}
        document.addEventListener('DOMContentLoaded', function () {
            showSuccessToast();
        });
        {% endif %}
    </script>

</body>
</html>
